.mainchat {
    width: 40%;
    max-width: 60dvw;
    height: 70vh;
    max-height: 80dvh;

    background-color: #202331;
    border-radius: 8px;

    display: flex;
    align-items: center;
    overflow-y: scroll;

    justify-content: center;
    gap: 3px;

}

.message_container {
    width: 98%;
    height: 98%;

    border-radius: 8px;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: end;
    overflow-y: scroll;

    gap: 3px;
    justify-content: flex-end;
}

.message_item {
    padding: 5px 10px;
    border-radius: 10px;
}

.own_message {
    align-self: flex-end;
    background-color: #6570a1;
}

.other_message {
    align-self: flex-start;
    background-color: #343a53;
}

.chat_message {
    align-self: center;
}

.message_user {
    display: flex;
    gap:5px;
}

.own_message .message_user{
    flex-direction: row-reverse;
}

.username {
    font-weight: bold;
}

.own_message .username {
    color: rgb(173, 179, 255);
}

.timestamp {
    gap: 2px;
    font-size: .65rem;
    color: rgb(210, 213, 246);
    align-self:baseline,
}