.mainchat {
    width: 70%;
    max-width: 700px;
    min-width: 700px;
    height: 100%;

    background-color: #202331;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    justify-content: center;
    gap: 3px;
    overflow: hidden;
}

.message_container {
    width: 100%;
    height: 100%;
    flex: 1;

    border-radius: 8px;
    padding: 0.5rem;
    

    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 3px;

    overflow: auto;
}

.message_container::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.message_container::-webkit-scrollbar-thumb {
    background-color: rgb(182, 182, 182);
}

.message_item {
    padding: 0 10px 6px 10px;
    border-radius: 10px;

    text-wrap: wrap;
    max-width: 75%;
    height:fit-content;
}

.own_message {
    align-self: flex-end;
    background-color: #6570a1;
}

.other_message {
    align-self: flex-start;
    background-color: #343a53;
}

.chat_message {
    align-self: center;
}

.message_user {
    display: flex;
    flex-direction: column;
    position: relative;
    gap:3px;
}

.username {
    font-weight: bold;
    line-height: normal;
}

.own_message .username {
    color: rgb(173, 179, 255);
    align-self: flex-end;
}

.own_message .message_text {
    margin-right: 5px;
}

.timestamp {
    font-size: .65rem;
    color: rgb(210, 213, 246);
    opacity: .6;
    align-self: flex-end;
    line-height: 1;
}

.message_body {
    display: flex;
}

.other_message .message_body {
    flex-direction: row;
}

.own_message .message_body {
    flex-direction: row-reverse;
}

.other_message .timestamp {
    margin-left: 15px;
}

.own_message .timestamp {
    margin-right: 15px;
}

.message_text {
  word-break:break-word;
  line-height: 1;
  /*text-indent: 5px;*/
}